<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Products table</h1>
    <span th:if="${products.isEmpty()}"> <h2 class="text-warning">Продуктов нет</h2></span>
    <table class="table" th:if="${!products.isEmpty()}">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.cost}"/>
            <td>
                <a type="button" class="btn btn-primary" th:href="@{'/cart/add_product/' + ${p.id}}">Добавить в корзину</a>
                <a type="button" class="btn btn-danger" th:href="@{'/delete_product/' + ${p.id}}">Удалить из каталога</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr color="Green" />
    <h2 class="text-success">Добавить новый продукт</h2>
    <!--  http://localhost:8181/dz/add_product  -->

    <form method="POST" th:action="@{'/add_product'}">
        <input type="text" name="title" placeholder="Название">
        <input type="number" name="cost" placeholder="Стоимость">
        <button class="btn btn-primary" type="submit">Добавить в каталог</button>
    </form>
    <hr color="Green" />
    <a type="button" class="btn btn-primary" th:href="@{'/cart/all/'}">Перейти в корзину</a>
</div>

</body>
</html>